[submodule "cores/core_soc"]
	path = cores/core_soc
	url = https://github.com/ultraembedded/core_soc.git
[submodule "cores/dbg_bridge"]
	path = cores/dbg_bridge
	url = https://github.com/ultraembedded/core_dbg_bridge.git
[submodule "pano"]
	path = pano
	url = https://github.com/skiphansen/pano_blocks
[submodule "cores/ethernet_mac"]
	path = cores/ethernet_mac
	url = https://github.com/yol/ethernet_mac.git
[submodule "cores/cpu/riscv"]
	path = cores/cpu/riscv
	url = https://github.com/ultraembedded/riscv
